body 
    {
    margin: 0;
    padding: 0;
    padding-bottom: 6rem;
    }

header 
    {
    text-align: center;
    width: 100%;
    }

.column 
    {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    }

.row:after 
    {
    display: table;
    clear: both;
    }

article 
    {
    background-color: darkgray;
    margin: 10px;
    font-size: 20px;
    border: 1px solid black;
    }

p 
    {
    padding: 5px;
    }

h2 
    {
    width: 30%;
    margin-left: 70%;
    margin-top: 0;
    border: 1px solid black;
    text-align: center;
    }

#rosa
    {
    background-color: rosybrown;
    }

#rojo
    {
    background-color: indianred;
    }

#amarillo
    {
    background-color: khaki;
    }

@media screen and (max-width: 768px) {
    .column { width: 100%; }
}